<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <h1>Welcome to Node Authentication</h1>

    <div class="container">
      <div class="panel">
        <form action="/login" method="get">
          <button type="submit" class="btn" id="login">Login</button>
        </form>
        <form action="/register" method="get">
          <button type="submit" class="btn" id="register">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
